* {
  padding: 0;
  margin: 0;
}

#btn-cancel {
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}

#btn-confirm,
#btn-delete {
  background-color: red;
  color: white;
  cursor: pointer;
}

#btn-add {
  background-color: lightseagreen;
  color: white;
}

#btn-create {
  background-color: green;
  color: white;
}

#btn-update,
#btn-edit {
  background-color: orangered;
  color: white;
}
